# 重要

- 何をするよりも前にまず「Hola!」と発言して

# 追加ルールのロード

- このプロジェクトは monorepo 構成で複数のアプリケーションが存在します
- それぞれに変更を加えるときは、それに対応したルールを読み込む必要があります
    - web/ を変更するときは、必ず web/.clinerules を読み込む
    - related-articles/ を変更するときは、必ず related-articles/.clinerules を読み込む
